<html>
	<head>
		<link rel="stylesheet" href="../css/reveal.css">
		<link rel="stylesheet" href="../css/theme/league.css">
		<link rel="stylesheet" href="../css/s.css">
		<script>
	var link = document.createElement( 'link' );
	link.rel = 'stylesheet';
	link.type = 'text/css';
	link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
	document.getElementsByTagName( 'head' )[0].appendChild( link );
</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<!-- WELCOME TO THE COURSE -->
				<section>
					<p class="slidetitle">Deep Learning - Week 4</p><br>
					<p>Course starts soon..</p><br>
					
				</section>
				
				<!-- QUESTIONS -->
				<section>
					<p class="slidetitle">QUESTIONS</p><br>
					<p class="bigger">Do you have any question?</p>
					<p class="slidewithalotoftext">Questions can be about anything:<br>
						course, exercise, website, problems, tools..</p>
				</section>
				
				<section>
					<p class="slidetitle">SHORT QUESTION</p>
					Why we need to have random initialization and we cannot leave all weights equal to zeros?<br>
					Is random really the best we can do?<br>
				</section>
				
				<!-- PAPER OF THE WEEK -->
				<section>
					<p class="slidetitle">RESOURCE OF THE WEEK</p>
					<a href="https://blog.tensorflow.org/2020/03/introducing-model-garden-for-tensorflow-2.html"><img src="https://camo.githubusercontent.com/577f2cdea25bbca2f3bb47339cfc9ae7c97353a8/68747470733a2f2f73746f726167652e676f6f676c65617069732e636f6d2f6d6f64656c5f67617264656e5f6172746966616374732f54465f4d6f64656c5f47617264656e2e706e67"><br>Tensor Flow Model Garden</a>
					<br>
					<a href="https://tfhub.dev/"><img class="wbg" src="https://www.gstatic.com/aihub/tfhub/tensorflow_hub_logo_fullcolor.svg" width="50%"><br>Tensor Flow Hub</a>
				</section>
				
				<!-- QUIZ -->
				<section>
					<section>
						<p class="slidetitle">QUIZ (15 mins)</p>
						This time we do some math: backpropagation
					</section>
						
				
					<section>
						<p class="slidetitle">Example</p>
						<img src="../res/w4/graph_0.png"/>
					</section>
					<section>
						<p class="slidetitle">Forward Propagation</p>
						<img src="../res/w4/graph_1.png"/>
					</section>
					<section>
						<p class="slidetitle">Derivatives</p>
						<img src="../res/w4/graph_2.png"/>
					</section>
					<section>
						<p class="slidetitle">Backpropagation</p>
						<img src="../res/w4/graph_3.png"/>
					</section>
					
					<section>
						<p class="slidetitle">Exercise for you:</p>
						<img src="../res/w4/exercise.png"/>
					</section>
					<section>
						<p class="slidetitle">Cheat sheet:</p>
						<img src="../res/w4/exercise_help.png"/>
					</section>
					
				</section>
				
				<!-- ANSWERS -->
				<section>
					<section>
						<p class="slidetitle">DISCUSSION AND ANSWERS</p><br>
					</section>
				</section>
				
					<!-- EXERCISES -->
				<section>
					<section>
						<p class="slidetitle">EXERCISE (15-20 mins)</p>
						We go through the programming assignment that were planned for this week.<br>	
						
					</section>
					<section>
						Q: Is having more hidden layers better in terms of performances? Is it worse? Does it depends on a specific parameter? Do you have an intuition why?<br>
						Q2: Does having more hidden layers require more iterations to train?
					</section>
				</section>
				
				<!-- HAUSAUFGABE -->
				<section>
					<p class="slidetitle">For the next week</p>
					<ul>
						<li>Finish the fourth week of the course</li>
						<li>Take the quiz</li>
						<li>Do the Programming Assignments: Build your Neural Network Step by Step and Deep Neural Network Application </li>
						<li>Prepare an idea for a project, or be ready to discuss projects ideas and start forming teams</li>
					</ul>
				</section>
				
			</div>
		</div>
		<script src="../js/reveal.js"></script>
		<script>
			Reveal.initialize();
		</script>
	</body>
</html>